- model_class = Service
.page-header{:style => "text-align: left; vertical-align: top;"}
  %h1
    = 'Решения из коробки'
    - if current_user.try(:status) == 'admin'
      = link_to '+ Добавить', new_service_path, :class => 'btn btn-default'
    %ul.nav.nav-pills.pull-right
      %li{:role => "presentation"}
        %a{:href => services_path } Услуги
      %li.active{:role => "presentation"}
        %a{:href => out_of_the_box_services_path } Решения из коробки
      - if current_user.try(:status) == 'admin'  
        %li{:role => "presentation"}
          %a{:href => drafts_services_path }
            - if @services_in_draft.count > 0
              Черновики 
              %span.badge
                = @services_in_draft.count
  %p.lead
    В данном разделе представлены «коробочные решения» или, как мы их называем — «решения из коробки». Опробованные временем, сбалансированные по стоимости и энергоэффективные решения для вашего дома, торгового центра, завода или офиса.
  - if @services.empty?
    .alert.alert-info{:role => "alert"} Упс... Пока у нас нет решений из коробки, чтобы вам показать :)
  /%em.lead
  /Мы немного отличаемся от других сайтов. Вот почему:

.row
  - unless @services.empty?
    - @services.each do |service|
      .col-xs-12.col-md-3
        .thumbnail
          .caption
            = link_to service_path(service) do
              %div.circle.two-fifty
                %img{:onload => "with (this) {if (offsetHeight < offsetWidth) style.height = '100%'; else style.width = '190px'; style.visibility = 'visible'}", :src => service.picture, :style => "visibility: hidden"}/

            %h4
              = link_to truncate(service.name, length: 25), service_path(service)
            %h4
              - if service.price?
                %span.label.label-success
                  = service.price
            %p 
              = truncate(service.short_description, length: 150)
            %p
              = link_to 'Подробнее', service_path(service), :class => 'btn btn-lg btn-primary'
              - if current_user.try(:status) == "admin" 
                = link_to edit_service_path(service) do
                  %span.glyphicon.glyphicon-pencil
                = link_to service_path(service), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Точно удалить пост?')) do
                  %span.glyphicon.glyphicon-trash

= content_for :title do
  - a = String.new
  - @services.each {|s| a << s.name.to_s + ", "}
  = "Решения из коробки: " + a

= content_for :meta_description do
  = "В данном разделе представлены «коробочные решения» или, как мы их называем — «решения из коробки». Опробованные временем, сбалансированные по стоимости и энергоэффективные решения для вашего дома, торгового центра, завода или офиса."