.lead= t("sprint.new")
%hr/
= simple_form_for Sprint.new, :html => { :class => 'form-horizontal', :role => 'form'} do |f|
  .form-group
    = f.input :name, placeholder: t("sprint.name"), input_html: { class: 'form-control' }, required: true, label: t("sprint.name_desc")
  .form-group
    = f.input :desc, as: :string, placeholder: t("sprint.desc"), input_html: { class: 'form-control' }, required: true, label: t("sprint.desc_label")
  = f.input :user_id, :input_html => { :value => current_user.id }, as: :hidden
  = f.input :construction_site_id, :input_html => { :value => @construction_site.id }, as: :hidden
  .form-group
    = f.button :submit, :class => 'btn btn-default', value: t("buttons.add_sprint")