%center
  %h1
    = "С чего начать?"
  .lead
    = "Ниже мы представили несколько подсказок, которые помогут быстрее сориентироваться в системе:"
  %br/
.container-fluid
  .row
    .col-md-6
      %img.img-responsive{alt: "Generic placeholder image", src: "https://img-fotki.yandex.ru/get/9823/104136015.20/0_b0feb_cb3ce0ae_XL.jpg"}/
    .col-md-6
      %h2= "Совместная работа"
      %p= "Добавь участников объекта."
      %p= "Если вы планируете работать над объектом совместно с другими, то их можно подключить к данному объекту."
      %p= "Подключенные пользователи не смогут редактировать объект или удалить его. Также у пользователей не будет доступа к другим ващим объектам."
      %p= "Стоит отметить, что вы можете пригласить людей, которые еще не зарегистрированы на Гипокауст. Просто введите необходимые имейлы через запятую. Мы сами создадим пользователей и отправим уведомление на имейл."
%hr/
.container-fluid
  .row
    .col-md-6
      %img.img-responsive{alt: "Generic placeholder image", src: "https://img-fotki.yandex.ru/get/3703/104136015.20/0_b0fea_dd1e9a5e_XL.jpg"}/
    .col-md-6
      %h2= "Задачи"
      %p= "Добавь задачи по объекту. Это можно сделать через вкладку «Добавить задачу»."
      %p= "Стоит обратить внимание на то, что задачи сами по себе не добавляются, их нужно привязать к системе. Например: «КП проектирование», «ВК», «ОВК»..."
      %p= "В Гипокауст такие системы мы называем «спринтами» — это некая законченная стадия проекта. Спринты / системы можно добавить через ту же вкладку — «Добавить задачу»."
      %p= "Вы не ограничены рамками. Сами определите системы и задачи под них."
