#activity
- if activity.trackable
  .media
    %a.pull-left{href: "#"}
      %span.glyphicon.glyphicon-plus
    .media-body
      %h5.media-heading
        = activity.owner.name + " " + activity.owner.last_name if activity.owner
        %span.text-muted
          = activity.owner.email if activity.owner
        %span
          = 'добавил на сайт:'
        %span
          = link_to activity.trackable.try(:title), activity.trackable
        %span.text-muted
          = activity.created_at.strftime("%d-%B-%Y, %H:%M")
      = truncate(activity.trackable.body, length: 200)
-else
  .media
    %a.pull-left{href: "#"}
      %span.glyphicon.glyphicon-home
    .media-body
      %h5.media-heading.text-muted
        = 'Было удалено с сайта'
